@use "../../../styles/mixins.scss" as *;

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;

  &.open {
    transform: translateX(0);
  }
}

.modalContent {
  position: relative;

  .closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 24px;
    color: #333;

    &:hover {
      color: #000;
    }
  }
}

.logoContainer {
  @include flexCenter;
  padding: 150px 0 100px 0;
}

.searchContainer {
  position: relative;
  flex: 1;
  max-width: 725px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .searchIcon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 0 50px 0 48px;
    outline: none;
    border: 1px solid #e5e5e5;

    &:focus {
      border-color: var(--primary-color);
    }
  }

  .clearSearchIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;

    &:hover {
      color: #333;
    }
  }
}

.actionsContainer {
  @include flexCenter;
  flex-direction: column;
  gap: 32px;
}
