@use "../../../../styles/mixins.scss" as *;

.desktopCategories {
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  display: none;

  @include md {
    display: flex;
  }
}

.mobileCategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 42px;
  width: 100%;

  justify-content: center;
  margin: 0 auto;
  max-width: 220px;

  @include md {
    display: none;
  }
}

.category {
  @include flexCenter;
  flex-direction: column;
  gap: 4px;
  font-size: 10px;
  width: 80px;
  height: 80px;

  span {
    color: #888989;
    font-weight: 600;
  }

  @include md {
    width: 63px;
    height: 63px;
  }
}

.activeCategory {
  background-color: white;
  border-radius: 8px;
  @include flexCenter;
  flex-direction: column;
  gap: 4px;
  font-size: 10px;
  width: 80px;
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  span {
    color: #bb1e1e;
    font-weight: 700;
  }

  @include md {
    width: 63px;
    height: 63px;
  }
}
